<h2>Despesas Cadastradas</h2>
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Data Vencimento</th>
            <th>Data Pagamento</th>
            <th>Situação</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let despesa of despesas">
            <td>{{ despesa.descricao }}</td>
            <td>{{ despesa.dataVencimento }}</td>
            <td>{{ despesa.dataPagamento }}</td>
            <td>{{ despesa.situacao }}</td>
            <td>{{ despesa.valor }}</td>
            <td>
                <button (click)="editarDespesa(despesa)">Editar</button>
                <button (click)="excluirDespesa(despesa.id!)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
